@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Moonet';
  src: url('./assets/fonts/moonet.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-modal {
  animation: modalIn 300ms ease-out forwards;
}
